@model Student
<section id="studentDetails">
    <div class="container d-flex align-items-center" style="height: 100vh;">
        <div class="col-6">
            <img src="~/img/students/@Model.Image" width="100%">
        </div>
        <div class="col-6 d-flex justify-content-center">
            <div>
                <h1 class="fw-bold text-light" style="font-size: 65px;">@Model.FullName</h1>
                <h5>Qrup: @Model.Group.Name</h5>
                <h5>Muellim: Mammed Aliyev</h5>
                <h5>Qrup Sahesi: @Model.Group.Category.Name</h5>
                <h5>Email: @Model.Mail</h5>
                <h5>Telefon: @Model.Number</h5>
            </div>
        </div>
    </div>
</section>